html, body {
    min-height: 120%;
}

body{
    background-color: rgb(126, 143, 134, 0.5);
}

h1{
    color:black;
    padding-left: 25px;
    text-align: center;
}
h4{
    color: black;
    padding-left: 15px;
    text-align: left;
}
p {
    padding-left: 15px;
}
.map {
    border: medium solid black;
    margin: 10px 0 0 20px;
}
.county {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}
.area {
    fill: rgb(182, 167, 145);
    opacity: 10;
    stroke: gray;
    stroke-width: 0.5px;
}
.gratLines {
    fill: none;
    stroke: grey;
    stroke-width: 1px;
}
.gratBackground {
    fill: #D5E3FF;
}
.numbers {
    fill:#000;
    font-family: sans-serif;
}
.chartTitle {
    font-family:Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    text-align: center;
    position:fixed;
}
.chartFrame {
    fill: none;
    stroke: black;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}
.chartBackground {
    fill: rgb(182, 167, 145);
}
.axis path,
.axis line {
    fill: none;
    stroke: rgb(11, 10, 10);
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: rgb(14, 13, 13);
    font-weight: bold;
}
.dropdown {
    position: absolute;
    top: 260px;
    left: 40px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px #999;
    box-shadow: 2px 2px 4px #999;
    background-color:light grey;
}
.option {
    font-weight: normal;
    
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
    font-size: small;
    color: black;
}

.infolabel {
    margin: 0 15px 0 0;
    position: absolute;
    height: 40px;
    min-width: 60px;
    color: #fff;
    background-color: #d3d3c9;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}
.footer{
    font-size: 4;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: rgb(126, 143, 134);
    padding-bottom: 0px;
    color: whitesmoke;
}


